<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="850269ed-72f0-46d8-b0ac-8c41871864a0" Publisher="CN=hnassif" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CareLink</DisplayName>
    <PublisherDisplayName>hnassif</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CareLink.App">
      <VisualElements DisplayName="CareLink" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="CareLink" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\CareLinkSplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="enterpriseAuthentication" />
    <Capability Name="internetClientServer" />
    <Capability Name="musicLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="removableStorage" />
    <Capability Name="sharedUserCertificates" />
    <Capability Name="videosLibrary" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="proximity" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>